# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/
.venv/

# YOLO / Ultralytics
*.pt
runs/
yolo*.pt

# Media and Outputs
images/*
!images/.gitkeep
videos/*
!videos/.gitkeep
outputs/*
!outputs/.gitkeep
